<html>
    <head>
        <script src="./resources/jquery.min.js"></script>
        <script src="./resources/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="./resources/axios.js"></script>
        <link rel="stylesheet" href="./resources/bootstrap/css/bootstrap.css">
        
        <script>
            function createFlipbook() {
                var flipbookName = document.getElementById("inputFlipbookName").value;
                if(flipbookName.trim() == "") {
                    alert("Flipbook name must not be empty");
                    return;
                }
                console.log("Flipbook provided name is " + flipbookName);
                axios.get("http://127.0.0.1:10001/createfolder/" + flipbookName).then(function (resp) {
                    if(resp.data.includes("ERROR")) {
                        alert(resp.data); 
                    } else {
                        //window.location.href = "/draw"; 
                        //document.getElementById
                        //TODO: We can cut corners by just setting some paragraph instead of using a database.
                    }
                });
            }

            function populateFlipbookList() {
                var flipbookDiv = document.getElementById("flipbookListDiv");

                axios.get("http://127.0.0.1:10001/flipbooks/").then(function (resp) {
                    const flipbookData = resp.data;
                    flipbookData.forEach(function (item, index) {
                        console.log(item);
                        var paragraph = document.createElement("P"); 
                        paragraph.innerHTML = item[0];
                        flipbookDiv.appendChild(paragraph);
                        
                        var button = document.createElement("BUTTON");
                        button.innerHTML = "Go to " + item[0];
                        button.onclick = function() {
                            document.location.href = item[0] + "/" + (item[1] + 1) + ".base64"; 
                        };
                        flipbookDiv.appendChild(button);
                         
                    });
                    console.log("Flipbook names:");
                    console.log(resp.data);
                });
            }
            
        </script>
    </head>

    <body onload="populateFlipbookList()">
        <div class="jumbotron">
            <h1>Hello World</h1>
        </div>
        <div>
            <input id="inputFlipbookName" type="text" placeholder="Flipbook Name">
            <button class="btn btn-primary" onclick="createFlipbook()">Create</button>
            <div id="flipbookListDiv">
            </div>
        </div>
    </body>
</html>
